.log-card{
  max-width: 400px;
  margin: 100px auto;
}
.log-title{
  max-width: 200px;
  margin: 1px auto;
  text-align: center;
  font: italic bold 27px Tahoma;
  color: #f45a40;
  border-bottom: 2px solid #f45a40;
}
b{
  display: inline;
  font: normal 200 11px Tahoma;
}
