.example-container{
  height: 545px;
  width: 100%;
}
.sidenav{
  background-color: tomato;
padding: 5px;
}
.sidenav-content{
  background-color: white;

}

a{
  color: #211f33;
  display: block;
  margin-bottom: 7px;
  text-decoration: none;
  }
a:hover{
  color: whitesmoke;
}
