.text-center{
  text-align: center;
  color: indianred;
  font: normal 300 17px Arial;
}
button[type="submit"]{
  display: block;
  margin: 5px auto;
}
.text-p {

  border-top: 2px solid #f45a40;

  text-align: center;
  margin-top: 15px;
  padding-top: 25px;
}
.example-full-width{
  width: 100%;
}
